///////////////
// RULEBOOK //
//////////////


.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Prevents overflow when width is 100% */
    align-items: center;
    gap: 14px;
    padding: 12px 18px;
    background: #11131a;
    z-index: 900;
}

.rules-left {
    width: 77%;
    margin-top: 50px;
}

.rules-right {
    margin-left: auto;
    margin-top: 50px;
}
