/*/ RULEBOOK /*/

.rules-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rules-left {
  flex: 3;  
  min-width: 300px; 
}

.rules-right {
  flex: 1;    
  min-width: 200px;
}

.rules-container h2 {
  font-weight: 700;
}
