/* General page setup */
body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: "Cal Sans", sans-serif;
  color: white;
}

/* Header styling */
header {
  background: #242527;
  color: #ffffff;
  position: sticky;
  top: 0;
  width: 100wv;
  height: 50px;
  font-family: "Roboto Mono", monospace;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.logo {
  width: 50px;
  height: 100%;
  vertical-align: middle;
}

/* Main title and paragraph */
h1 {
  color: LightGreen;
  text-align: center;
  font-weight: 700;
}

h2 {
  color: LightGreen;
  text-align: center;
  font-weight: 700;
}

p {
  color: white;
  text-align: center;
  padding: 20px;
}

a {
  color: white;
  text-decoration-line: none;
}

/* Section container */
.container {
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 65px;
}

/* Card styling */
.card {
  border-radius: 15px;
  background-color: #0d0d0d;
  margin: 10px;
  width: 30%;
  min-width: 280px;
  height: 308px;
  text-align: center;
  display: inline-block;
  border: 3px solid #242527;
  padding: 3px;
  color: white;
  position: relative;
}

.card h3 {
  text-decoration: underline;
  color: LightGreen;
}

/* Button inside card */
.button {
  background: #3c874c;
  color: white;
  width: 75%;
  height: 30px;
  margin: auto;
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s;
  box-shadow: 0 4px 0 #204c2d, 0 -4px #64ca55, 4px 0 #316c42, -4px 0 #316c42, 0 -7px black, 0 7px black, 7px 0 black, -7px 0 black, -7px 3px black, -7px -3px black, 7px 3px black, 7px -3px black, -3px 7px black, 3px 7px black, -3px -7px black, 3px -7px black;
  }

 .button:hover {
   opacity: 0.9;
  transform: translateY(-1.5px);
  /* box-shadow: 0 4px 0 #163d22, 0 -4px #3f8a39, 4px 0 #245233, -4px 0 #245233, 0 -7px black, 0 7px black, 7px 0 black, -7px 0 black, -7px 3px black, -7px -3px black, 7px 3px black, 7px -3px black, -3px 7px black, 3px 7px black, -3px -7px black, 3px -7px black; */
}

.card a {
  text-decoration-line: none;
  font-weight: 700;
}

/* Displays */
/* .display fieldset {
  border-radius: 15px;
  background-color: #0d0d0d;
  margin: 10px;
  width: 30%;
  min-width: 280px;
  height: 308px;
  text-align: center;
  display: inline-block;
  border: 3px solid #242527;
  padding: 3px;
  color: white;
  position: relative;
}

.display legend {
  color: LightGreen;
  text-align: left;
}

.display img {
  width: 59px;
  height: 49px;
  vertical-align: middle;
  border-radius: 7px;
}
*/

/* Footer */
footer {
  position: reltive;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  background: #242527;
  color: white;
  font-family: "Roboto Mono", monospace;
}

/* Misc */
code {
  color: #0077b6;
}

@media (max-width: 1000px) {
  .card {
    flex: 1 1 100%;
    max-width: none;
  }
}
