  .staff-card{
    background:#1e1f24;
    padding:20px;
    border-radius:10px;
    width:350px;
}

.staff-header{
    display:flex;
    gap:15px;
}

.avatar{
    width:80px;
    height:80px;
    border-radius:50%;
}

.staff-tags{
    margin-top:10px;
}

.tag{
    padding:5px 10px;
    border-radius:6px;
    font-size:14px;
    margin-right:8px;
}

.description{
    margin-top:15px;
}
